<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <title th:text="#{customersch.title}">Kunden bearbeiten</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{customersch.title}">Kunden bearbeiten</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>
    <form method="post" role="form" class="ui form" id="form" th:action="@{/speichereKunden}" th:object="${form}">

        <h3 class="ui dividing header" th:text="${vorname}+' '+${nachname}">customer name</h3>

        <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
            <p>Einige Angaben sind nicht korrekt.</p>
        </div>

        <div class="field">
            <label for="personenid" th:text="#{customer.id}">ID</label>
            <input  id="personenid" name="personenid" th:value="${personenid}" type="text" readonly="readonly" required="required"/><br/>
        </div>

        <div class="field">
            <label for="nachname" th:text="#{customer.lastname}">Nachname</label>
            <input  id="nachname" name="nachname" th:value="${nachname}" type="text" required="required"/><br/>
        </div>

        <div class="field">
            <label for="vorname" th:text="#{customer.firstname}">Vorname</label>
            <input  id="vorname" name="vorname" th:value="${vorname}" type="text" required="required"/><br/>
        </div>

        <div class="field">
            <label for="plz" th:text="#{customer.postcode}">Postleitzahl</label>
            <input id="plz" name="plz" th:value="${plz}" type="text" required="required"/><br/>
        </div>
        <div class="field">
            <label for="stadt" th:text="#{customer.city}">Stadt</label>
            <input id="stadt" name="stadt" th:value="${stadt}" type="text" required="required"/><br/>
        </div>
        <div class="field">
            <label for="strasse" th:text="#{customer.street}">Straße</label>
            <input id="strasse" name="strasse" th:value="${strasse}" type="text" required="required"/><br/>
        </div>
        <div class="field">
            <label for="nr" th:text="#{customer.nr}">Hausnummer</label>
            <input id="nr" name="nr" th:value="${nr}" type="text" required="required"/><br/>
        </div>
        <div class="field">
            <label for="zusatz" th:text="#{customer.extra}">Zusatz</label>
            <input id="zusatz" name="zusatz" th:value="${zusatz}" type="text" /><br/>
        </div>
        <div class="field">
            <label for="tel" th:text="#{customer.tel}">Telefonnummer</label>
            <input id="tel" name="tel" th:value="${tel}" type="tel" /><br/>
        </div>
        <div class="field">
            <label for="email" th:text="#{customer.email}">E-Mail</label>
            <input id="email" name="email" th:value="${email}" type="email" /><br/>
        </div>

        <button type="submit" class="ui button" th:text="#{customer.save}">Speichern</button>
        <button type="button" th:onclick="@{self.location.href='/loescheKunden/{id}' (id=${personenid})}" class="ui button" th:text="#{customer.delete}">LÖSCHEN</button>
    </form>
</div>
</body>
</html>